<style>
	.map-block {
		width:{{ cellSize }}px;
		height:{{ cellSize }}px;
	}
	picture::after {
		position: absolute;
		bottom: 0;
		left: {{ cellSize + 5 }}px;
		content: attr(data-after-content);
	}
</style>
{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}{{ map.title }}{% endblock %}<label><span id='width'>{{ map.width }}</span> x <span id='height'>{{ map.height }}</span></label></h1>
	{% if g.user.id %}
		<a class="action" href="{{ url_for('map.update_properties', id=map.id) }}">Edit properties</a>
		<a class="action" href="{{ url_for('map.update_layouts', id=map.id) }}">Edit layouts</a>
	{% endif %}
{% endblock %}

{% block content %}
	<div id="map-data" class="hide">
		{% for mapBlock in map.mapBlocks %}
			<img src="{{ url_for('static', filename='images/' + mapBlock.block.file) }}" data-x="{{ mapBlock.x }}" data-y="{{ mapBlock.y }}" />
		{% endfor %}
	</div>
	<div id="map" class="map-container align-center" style="grid-template-columns: repeat({{ map.width }}, 1fr); grid-template-rows: repeat({{ map.height }}, 1fr);">
		<template v-for="(row, rowIdx) in map">
			<template v-for="(column, columnIdx) in row">
				<rowinfo :row="rowIdx" :column="columnIdx">
					<img v-if="column" class='map-block' :src="column.src" />
					<img v-else class='map-block' src="{{ url_for('static', filename='images/'+question) }}">	
				</rowinfo>
			</template>
		</template>
	</div>
{% endblock %}

{% block jsFiles %}<script src="{{ url_for('static', filename='view.js') }}"></script>{% endblock %}
